---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).filter((post) => post.data.draft == false || post.data.published == null && post.data.published == true).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <!-- bg-neutral-800 text-gray-400 -->
  <body class="w-2xl mx-auto min-h-screen flex flex-col justify-between">
    <Header />
    <main class="flex flex-col justify-start grow">
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="my-4 flex flex-col gap-1">
                <p class="text-sm text-gray-400">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <a class="text-xl font-bold" href={`/blog/${post.id}/`}>
                  {post.data.title}
                </a>
                <p class="text-sm">{post.data.description}</p>
                <div class="flex gap-2">
                  {post.data.tags?.map((tag) => (
                    <span class="text-center lowercase text-xs border px-2 py-1 font-semibold border-gray-200 rounded-3xl">
                      {tag}
                    </span>
                  ))}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
